@-ms-viewport{
  width: device-width;
}

html, body {
  background-color: #24292e;
  font-family: sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1;
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
  padding: 5px 25px;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  main {
    min-width: 650px;
  }
}

@media screen and (min-width: 1800px) {
  main {
    min-width: 1000px;
  }
}

img#logo {
  display: block;
  width: 100%;
}

h2#subtitle {
  color: white;
  font-size: 0.8em;
  text-align: justify;
  padding: 0.8em 0 0 0;
  margin: 0;
}

h2#subtitle:after {
  content: '';
  width: 100%;
  display: inline-block;
}

h2#subtitle > a {
  color: #b80103;
  text-decoration: none;
}

h2#subtitle > a:hover {
  color: white;
}

h3.header {
  display: block;
  background-color: #b80103;
  padding: 6px 18px;
  color: white;
  text-transform: uppercase;
  width: 100%;
  margin: 6px auto;
  box-sizing: border-box;
  text-align: center;
}

section.blacklisters {
  display: flex;
  flex-wrap: wrap;

div.blacklister {
  display: block;
  background-color: #b80103;
  color: white;
  text-align: center;
  width: 50%;
  display: flex;
  flex: 1 0 auto;
}
